doctype html
head
	title= title
	link(rel="shortcut icon" href="~favicon.png")
	meta(content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1.0, maximum-scale=1" name="viewport")
	block head
body
	block content
		!= content
	block footer